body {
    background-color: var(--cor-fundo-secundaria);
}

.carrinho-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    padding-block: 1rem;
    padding-inline: 7rem;
}

.carrinho__info {
    grid-column: 1 / 3;

    border-radius: 15px;
    padding: 1rem;

    background-color: var(--cor-fundo-primaria);
}

.carrinho__livros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.livro {
    display: flex;

    width: 100%;
    height: 170px;

    padding-bottom: 2rem;
    border-bottom: 2px solid var(--cor-texto-primaria);
}

.livro__imagem {
    height: 100%;
    width: 110px;

    margin-right: 1rem;
    border-radius: 5px;

    background-color: var(--cor-fundo-secundaria);
}

.livro__titulo {
    font-weight: 500;
    font-size: 1.1rem;
}

.livro__autor {
    color: var(--cor-texto-secundaria);
    font-weight: 500;
    font-size: 1rem;
}

.livro__preco {
    margin-top: .5rem;

    font-weight: bold;
    font-size: 1.3rem;
}

.livro__quantidade {
    font-size: 1rem;
    color: var(--cor-texto-secundaria);
}

.livro__botao-remover-carrinho {
    margin-left: auto;
}

.carrinho__resumo {
    grid-column: 3 / 4;

    height: fit-content;

    border-radius: 15px;
    padding: 1rem;

    background-color: var(--cor-fundo-primaria);
}

.resumo-campo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: .5rem;

    font-weight: 500;
}

.carrinho__info h2,
.carrinho__resumo h2 {
    display: inline-block;

    height: 50px;
}

.carrinho__info hr,
.carrinho__resumo hr {
    margin-bottom: 1rem;

    color: 2px solid var(--cor-texto-primaria);
}

.resumo-total {
    margin-top: 3rem;

    font-weight: bold;
    font-size: 1.2rem;
}

.resumo-botao {
    margin-top: 1.5rem;
}

.resumo-botao button {
    width: 100%;

    font-size: 1rem;
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .carrinho-container {
        padding-inline: 1rem;
    }
}

@media screen and (min-width: 721px) and (max-width: 900px) {

    .carrinho-container {
        display: flex;
        flex-direction: column-reverse;

        width: 100%;

        padding-inline: 5rem;
    }
}

@media screen and (max-width: 720px) {
    .carrinho-container {
        display: flex;
        flex-direction: column-reverse;

        width: 100%;

        padding-inline: 1rem;
    }

    .carrinho__resumo {
        width: 100%;
    }

    .livro {
        position: relative;

        height: 220px;
    }

    .livro__imagem {
        height: 150px;
        width: 110px;

        flex: none;

        border-radius: 5px;
    }

    .livro__conteudo {
        flex: auto;
    }

    .livro__conteudo-principal {
        flex-direction: column;
    }

    .livro__botao-remover-carrinho {
        position: absolute;
        bottom: 1rem;
    }
}