body {
    background-color: var(--cor-destaque-secundaria);
}

/* Ajusta os ícones */
.fa-solid {
    font-size: 1.5rem;
}

/* Parte superior */
header {
    display: flex;
    justify-content: space-between;

    height: 65px;

    padding: 1rem 1.5rem;

    background-color: var(--cor-destaque-primaria);
}

/* Controla a visibilidade do menu */
header .menu-principal__input {
    display: none;
}
header .menu-principal__input:checked ~ .menu-principal__logo {
    display: flex;
}
header .menu-principal__input:checked ~ .menu-principal__nav {
    display: flex;
}
header .menu-principal__input:checked ~ .menu-principal__camada {
    display: block;
}

/* "Botão" do menu */
header .menu-principal__label {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-inline: 2px;
}

header .menu-principal__label .fa-solid {
    color: var(--cor-texto-terciaria);
}

/* Parte do topo do menu */
header .menu-principal__logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: none;
    align-items: center;
    justify-content: space-between;

    width: 250px;
    height: 65px;

    padding: .5rem;

    background-color: var(--cor-destaque-primaria);
}

/* Configura a logo do site */
header .menu-principal__logo img {
    height: 100%;

    border-radius: 100%;
}

/* Navegação do menu */
header .menu-principal__nav {
    position: fixed;
    left: 0;
    top: 65px;
    bottom: 0;
    z-index: 100;

    display: none;

    width: 250px;

    padding: 1rem .5rem;

    background-color: var(--cor-fundo-primaria);
}

/* Camada escura quando se abre o menu */
header .menu-principal__camada, 
header .menu-config__camada {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;

    display: none;

    background-color: rgba(0, 0, 0, 0.466);
}

/* Lista com os botões */
header .menu-principal__nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    height: 100%;

    list-style: none;
}

/* Botão da lista */
header .menu-principal__nav .nav__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;

    margin-bottom: 1rem;

    cursor: pointer;
}

/* Cor dos ícones */
header .menu-principal__nav .fa-solid {
    color: var(--cor-texto-primaria);
}
header .menu-principal__logo .menu-principal__label {
    color: var(--cor-texto-primaria);
}

/* Barra de pesquisa */
header .barra-pesquisa {
    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--cor-texto-terciaria);

    padding: .3rem  .5rem;
    border-radius: 10px;
}

header .barra-pesquisa label {
    cursor: pointer;
}

/* Ícone da barra de pesquisa */
header .barra-pesquisa .fa-solid {
    color: var(--cor-texto-primaria);
}

/* Input da barra de pesquisa */
header .barra-pesquisa input {
    min-width: 300px;

    border: none;

    background-color: transparent;

    font-size: 1rem;
}
header .barra-pesquisa input:focus {
    outline: none;
}

/* Opções do final da parte superior */
header .adicionais {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* Muda a cor dos ícones do menu de configurações */
header .adicionais .fa-solid {
    color: var(--cor-texto-terciaria);
}

/* Esconde o input */
header .adicionais .menu-config__input {
    display: none;
}

/* Configura o botão do menu de configurações */
header .adicionais .menu-config__label {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px;
}

/* Muda a cor do ícone de fechar o menu */
header .adicionais .menu-config__input:checked ~ .menu-config__icone .fa-solid {
    color: var(--cor-texto-primaria);
}

/* Controla a visibilidade do menu de configurações */
header .adicionais .menu-config__input:checked ~ .menu-config__icone {
    display: flex;
}
header .adicionais .menu-config__input:checked ~ .menu-config__conteudo {
    display: flex;
}
header .adicionais .menu-config__input:checked ~ .menu-config__camada {
    display: block;
}

/* Parte do topo do menu */
header .adicionais .menu-config__icone {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    
    width: 250px;
    height: 65px;

    display: none;
    align-items: center;
    justify-content: flex-start;

    padding: 1rem;

    background-color: var(--cor-fundo-primaria);
}

/* Configura o menu de configurações */
header .adicionais .menu-config__conteudo {
    position: fixed;
    top: 65px;
    bottom: 0;
    right: 0;
    z-index: 100;

    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;

    width: 250px;

    padding: .5rem;

    background-color: var(--cor-fundo-primaria);
}

/* Estiliza o nome do usuário */
header .adicionais .menu-config__conteudo #menu-config__nome {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estiliza o email do usuário */
header .adicionais .menu-config__conteudo #menu-config__email {
    font-style: italic;
}

main {
    padding: 1.5rem;
    padding-bottom: 0;
}

/* Div para conter as tags e os livros */
main .livros {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;

    min-height: calc(90dvh - 1rem);
    min-width: 100%;

    border-radius: 10px 10px 0 0;

    background-color: var(--cor-fundo-secundaria);
}

/* Configura o container das tags */
main .livros__tags {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    width: 150px;
    height: 100%;
    
    border-radius: 10px 0 0 0;
    padding: .5rem;

    background-color: var(--cor-fundo-primaria);
}

/* Configura o container dos livros */
main .livros__container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;

    padding: 1rem;
}

/* Container para mensagem de erro */
main .livros__erro {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;

    width: 100%;
    height: fit-content;

    margin-top: 5rem;
}

/* Mensagem de erro */
main .erro__mensagem {
    max-width: 350px;

    font-weight: 500;
    text-align: center;
}

/* Configura o container de um livro */
main .livro {
    position: relative;

    height: 370px;
    width: 250px;

    border-radius: 10px;
    padding: .5rem;

    background-color: var(--cor-fundo-primaria);
}

/* Configura a imagem do livro */
main .livro__imagem {
    width: 100%;
    aspect-ratio: 3 / 2;

    border-radius: 10px 10px 0 0;
    margin-bottom: .5rem;

    background-color: gray;
}

/* Estiliza o título */
main .livro__titulo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    
    text-overflow: ellipsis;
    overflow: hidden;

    font-weight: 500;
    font-size: 1.1rem;
}

/* Estiliza o nome do autor */
main .livro__autor {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor-texto-secundaria);
    font-weight: 500;
    font-size: 1rem;
}

/* Estiliza o preço do livro */
main .livro__preco {
    margin-top: .5rem;

    font-weight: bold;
    font-size: 1.3rem;
}

/* Estiliza o número da quantidade de livros disponíveis */
main .livro__quant {
    font-size: .9rem;
    color: var(--cor-texto-secundaria);
}

/* Estiliza o botão de detalhes */
main .livro__botao-detalhes {
    position: absolute;
    bottom: .5rem;
}

/* Estiliza o botão de adicionar ao carrinho */
main .livro__botao-carrinho {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}