body {
    max-width: 100%;

    background-color: var(--cor-destaque-secundaria);
}

/* Ajusta os ícones */
.fa-solid {
    font-size: 1.5rem;
}

main {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

/* Div para conter as tags e os livros */
.livros {
    display: flex;
    flex-direction: column;

    min-height: calc(90dvh - 1rem);
    width: 100%;
    max-width: 1200px;

    border-radius: 0 0 10px 10px;
    margin-inline: auto;

    background-color: var(--cor-fundo-secundaria);
}

/* Configura o container das tags */
.livros__tags {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1rem;

    width: 100%;
    max-width: 100%;

    border-radius: 0;
    padding: .5rem;

    background-color: var(--cor-fundo-primaria);
}

/* Configura o container dos livros */
.livros__container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    padding: 1rem;
}

/* Container para mensagem de erro */
.livros__erro {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;

    width: 100%;
    height: fit-content;

    margin-top: 5rem;
}

/* Mensagem de erro */
.erro__mensagem {
    max-width: 350px;

    color: var(--cor-texto-primaria);
    font-weight: 500;
    text-align: center;
}

/* Configura o container de um livro */
.livro {
    position: relative;

    min-width: 250px;
    width: 100%;
    max-width: 330px;
    aspect-ratio: 2 / 2.7;
    max-height: 400px;

    border-radius: 10px;
    padding: .5rem;

    background-color: var(--cor-fundo-primaria);
}

/* Configura a imagem do livro */
.livro__imagem {
    width: 100%;
    aspect-ratio: 3 / 2;

    border-radius: 10px 10px 0 0;
    margin-bottom: .5rem;

    background-color: gray;
}

/* Estiliza o título */
.livro__titulo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    text-overflow: ellipsis;
    overflow: hidden;

    font-weight: 500;
    font-size: 1.1rem;
}

/* Estiliza o nome do autor */
.livro__autor {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor-texto-secundaria);
    font-weight: 500;
    font-size: 1rem;
}

/* Estiliza o preço do livro */
.livro__preco {
    margin-top: .5rem;

    font-weight: bold;
    font-size: 1.3rem;
}

/* Estiliza o número da quantidade de livros disponíveis */
.livro__quant {
    font-size: .9rem;
    color: var(--cor-texto-secundaria);
}

/* Estiliza o botão de detalhes */
.livro__botao-detalhes-container {
    position: absolute;
    bottom: .5rem;
}

/* Estiliza o botão de adicionar ao carrinho */
.livro__botao-carrinho-container {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

@media screen and (min-width: 723px) and (max-width: 768px) {
    main {
        padding: 0;
    }

    .livros__tags {
        border-radius: 0;
    }

    .livros__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: .5rem;

        padding: .5rem;
        border-radius: 0;
    }

    .livro {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        width: 100%;
        height: 220px;
        max-width: 400px;
    }

    .livro__imagem {
        width: 130px;
        aspect-ratio: 3 / 4;

        border-radius: 10px;
        margin-bottom: 0;
    }

    .livro-botoes-container {
        position: absolute;
        bottom: .5rem;

        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .livro__botao-carrinho-container,
    .livro__botao-detalhes-container {
        position: static;
    }
}

@media screen and (min-width: 481px) and (max-width: 722px) {
    .livro {
        max-height: 200px;
    }

    .livro-botoes-container {
        position: static;
    }

    /* Estiliza o botão de detalhes */
    .livro__botao-detalhes-container {
        position: absolute;
        bottom: .5rem;
    }

    /* Estiliza o botão de adicionar ao carrinho */
    .livro__botao-carrinho-container {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding: 0;
    }

    .livros__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        padding: .5rem;
    }

    .livro .global__botao-primario,
    .livro .global__botao-secundario {
        font-size: .8rem;
    }

    .livro-botoes-container {
        position: static;
    }

    /* Estiliza o botão de detalhes */
    .livro__botao-detalhes-container {
        position: absolute;
        bottom: .5rem;
    }

    /* Estiliza o botão de adicionar ao carrinho */
    .livro__botao-carrinho-container {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
    }
}