body {
    background-color: var(--cor-destaque-secundaria);
}

main {
    padding-bottom: 1rem;
    padding-inline: 1rem;
}

.livros {
    padding: 1rem;
    border-radius: 0 0 15px 15px;

    background-color: var(--cor-fundo-primaria);
}

.livros h2 {
    display: inline-block;
    height: 50px;
}

.livros hr {
    margin-block: 1rem;

    border: 1px solid var(--cor-texto-primaria);
}

.livros__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 3rem;
}

.livros__container button.js-abrir-venda {
    width: fit-content;

    margin-top: 3rem;
    margin-inline: auto;
}

.livro {
    display: flex;

    width: 100%;
    height: 170px;

    padding-bottom: 2rem;
    border-bottom: 2px solid var(--cor-texto-primaria);
}

.livro__conteudo {
    position: relative;

    width: 100%;
}

.livro__imagem {
    height: 100%;
    width: 110px;
    min-width: 110px;
    max-width: 110px;

    margin-right: 1rem;
    border-radius: 5px;

    background-color: var(--cor-fundo-secundaria);
}

.livro__titulo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    text-overflow: ellipsis;
    overflow: hidden;

    max-width: 200px;

    font-weight: 500;
    font-size: 1.1rem;
}

.livro__autor {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--cor-texto-secundaria);
    font-weight: 500;
    font-size: 1rem;
}

.livro__preco {
    margin-top: .5rem;

    font-weight: bold;
    font-size: 1.3rem;
}

.livro__quant {
    font-size: 1rem;
    color: var(--cor-texto-secundaria);
}

.livro-botoes-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-end;

    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1100px) {
    main {
        padding-inline: 7rem;
    }
    
    .livros__container {
        display: flex;
        flex-direction: column;
    }

    .livro-botoes-container {
        flex-direction: row;
        align-items: flex-start;

        left: 0;
        top: auto;
        bottom: 0;

        height: fit-content;
    }

    .livro__titulo {
        -webkit-line-clamp: 1;
        line-clamp: 1;

        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding-inline: 1rem;
    }

    .livro-botoes-container {
        height: 50px;
        align-items: flex-end;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding-inline: 0;
    }

    .livro__conteudo {
        position: static;
    }

    .livro {
        position: relative;

        height: 230px;
    }

    .livro__imagem {
        height: 150px;
        width: 110px;

        flex: none;

        border-radius: 5px;
    }

    .livro__conteudo {
        flex: auto;
    }

    .livro__conteudo-principal {
        flex-direction: column;
    }

    .livro-botoes-container {
        position: absolute;
        bottom: 1rem;
    }
}