body {
    background-color: var(--cor-destaque-primaria);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100dvh;
    width: 100%;
}

/* <section> do login */
.login {
    position: relative;

    width: 60%;
    min-width: 700px;
    height: 95%;
    min-height: 500px;

    border-radius: 15px;
    padding: 1rem;

    background-color: var(--cor-fundo-primaria);

    text-align: center;
}

.login__subtitulo {
    margin-bottom: 3rem;
}

/* Formul치rio */
.form {
    margin-bottom: auto;
}

/* Container do campo do formul치rio */
.form__campo {
    width: 350px;

    margin-inline: auto;
    margin-bottom: .5rem;
}

/* Texto do campo do formul치rio */
.form__campo label {
    display: block;

    text-align: left;
    font-weight: 500;
}

/* Campo do formul치rio */
.form__campo input {
    display: block;

    width: 100%;

    border-radius: 10px;
    border: none;
    padding: .5rem 1rem;

    background-color: var(--cor-fundo-secundaria);

    font-size: 1rem;
}

/* Link para trocar de senha */
.form__trocar-senha {
    display: block;

    color: var(--cor-destaque-primaria);
    text-decoration: none;
    font-size: .9rem;
}

/* Container para mensagem de erro */
.form__erro {
    width: 350px;
    height: 25px;

    margin-inline: auto;
    margin-top: 1rem;
}

/* Mensagem de erro */
.erro__mensagem {
    opacity: 0;

    color: rgb(202, 1, 1);
    font-weight: 500;
}

/* Container para fazer cadastro */
.login__container-cadastrar {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}

/* Texto para fazer cadastro */
.login__texto-cadastrar {
    margin-bottom: .5rem;

    font-size: .9rem;
}