.erro {
    display: block;
}



body {
    background-color: var(--cor-destaque-primaria);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100dvh;
    width: 100%;
}

/* <section> do login */
.login {
    position: relative;

    width: 60%;
    min-width: 700px;
    height: 95%;
    min-height: 500px;

    border-radius: 15px;
    padding: 1rem;

    background-color: var(--cor-fundo-primaria);

    text-align: center;
}

.login__subtitulo {
    margin-bottom: 3rem;
}

/* Formul치rio */
.form {
    margin-bottom: auto;
}

/* Container do campo do formul치rio */
.form__campo {
    width: 350px;
    max-width: 400px;

    margin-inline: auto;
    margin-bottom: .5rem;
}

/* Texto do campo do formul치rio */
.form__campo label {
    display: block;

    text-align: left;
    font-weight: 500;
}

/* Campo do formul치rio */
.form__campo input {
    display: block;

    width: 100%;

    border-radius: 10px;
    border: none;
    padding: .5rem 1rem;

    background-color: var(--cor-fundo-secundaria);

    font-size: 1rem;
}

/* Link para trocar de senha */
.form__trocar-senha {
    display: block;

    color: var(--cor-destaque-primaria);
    text-decoration: none;
    font-size: .9rem;
}

/* Container para mensagem de erro */
.erro {
    width: 350px;
    height: 25px;

    margin-inline: auto;
    margin-top: 1rem;
}

/* Mensagem de erro */
.erro__mensagem {
    opacity: 0;

    color: rgb(202, 1, 1);
    font-weight: 500;
}

.login__container-conectar {
    margin-top: 2rem;
}

.login__container-conectar button {
    padding-inline: 2rem;

    font-size: 1rem;
}

/* Container para fazer cadastro */
.login__container-cadastrar {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}

/* Texto para fazer cadastro */
.login__texto-cadastrar {
    margin-bottom: .5rem;

    font-size: .9rem;
}

.login__container-cadastrar button {
    font-size: .8rem;
}

@media screen and (max-width: 1000px) {
    main {
        align-items: flex-start;

        padding: .5rem;
        padding-top: 0;
    }

    .login {
        width: 100%;
        max-width: 650px;
        height: 80%;
        min-height: 80%;

        border-radius: 0 0 10px 10px;
        padding-top: 4rem;
    }

    .form__campo {
        width: 100%;
        max-width: 400px;
    }

    .login__container-cadastrar {
        position: absolute;
        bottom: 1rem;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: var(--cor-fundo-primaria);
    }

    main {
        display: block;
    }

    .login {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;

        padding-top: 4rem;
    }

    .form__campo {
        max-width: 100%;
        min-width: 200px;
    }

    .login__container-cadastrar {
        position: static;
        transform: translateX(0);

        margin-top: 7rem;
    }
}