/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis CSS globais */
:root {
    --cor-destaque-primaria: #0074D7;
    --cor-destaque-secundaria: #122C63;

    --cor-fundo-primaria: #F4F7FF;
    --cor-fundo-secundaria: #C1C4CC;

    --cor-texto-primaria: #0E0F11;
    --cor-texto-secundaria: #252E33;
    --cor-texto-terciaria: #F5F5F5;

    --fonte-texto: "Montserrat";
    --fonte-titulo: "Montserrat Alternates";
}

/* Reset da página */
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: var(--fonte-texto);
}

/* Altura mínima do site */
html, body {
    min-height: 100dvh;
}

/* Estilo do botão primario */
.global__botao-primario {
    border: 2px solid var(--cor-destaque-secundaria);
    border-radius: 25px;
    padding: .5rem;

    background-color: var(--cor-destaque-secundaria);

    color: var(--cor-texto-terciaria);
    font-weight: bold;

    cursor: pointer;
}

/* Estilo do botão secundário */
.global__botao-secundario {
    border: 2px solid var(--cor-destaque-secundaria);
    border-radius: 25px;
    padding: .5rem;

    background-color: transparent;

    color: var(--cor-destaque-secundaria);
    font-weight: bold;

    cursor: pointer;
}

/* Estilo do botão que contém um ícone */
.global__botao-icone {
    border: none;

    background-color: transparent;

    cursor: pointer;
}